header.main-header {
  position: sticky;
  top: 0;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--secondary-text-color);
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
header.main-header > h1 {
  font-family: var(--logo-font);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.home-link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.home-link:visited {
  color: var(--secondary-text-color);
}
