form {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
}

.register-form input,
.login-form input,
.new-note-form input {
  margin-bottom: 1.2em;
  padding: 0.7em;
  border-radius: 0.5em;
  border-color: rgb(226, 226, 226);
  min-width: 100%;
}
.register-form input:focus,
.login-form input:focus,
.new-note-form input:focus {
  outline-color: var(--main-button-color);
}

.register-form button,
.login-form button,
.new-note-form button {
  margin-top: 1.5em;
  font-size: 1.1rem;
  border-radius: 0.5em;
}
