/* ----------Div modal fondo -------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;
  z-index: 1000;
}

/* ----------modal container  -------- */
.modal .modalContainer {
  margin: 4em;
  pad: 1em;
  min-width: 350px;
  width: 33vw;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-background-color);
  -webkit-box-shadow: 1px 4px 15px -1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 4px 15px -1px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 4px 15px -1px rgba(0, 0, 0, 0.18);
  z-index: 2000;
}
