main.logged-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
main.no-logged-main {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  gap: 1.2em;
  margin-top: 1.2em;
  border-radius: 0.5em;
  min-width: 33vw;
  max-width: fit-content;
  max-height: fit-content;
  background-color: var(--main-background-color);
  min-height: 25vw;
  padding: 1.5em;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
h2.no-notes-h2 {
  align-self: center;
  justify-self: center;
}

main.logged- > header {
  margin: 1.2em;
  display: flex;
  flex-shrink: 1;
  justify-self: flex-start;
}

div.new-note-category {
  justify-content: flex-start;
}
section.list-notes-section{flex-grow: 1;}
.copyright {
  justify-self: flex-end;
  align-self: center;
  margin: 1.2em;
}

.copyright a {
  color: var(--main-button-color);
}

.copyright a:visited {
  color: var(--main-button-color);
}
