html{
  --main-background-color: rgb(246, 246, 246);
  --main-button-color:rgb(116, 185, 242);
}

html.night-mode{  --main-button-color:rgb(154, 116, 242);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 10;
  list-style: none;
}


img{max-width: 100px;}

button.main-button{background-color: var(--main-button-color);}